Christophe Damour <sigeal@users.noreply.github.com>

Jean-Marie Kerloch <jean-marie.kerloch@oslandia.com>
Jean-Marie Kerloch <jean-marie.kerloch@oslandia.com> <53606373+jmkerloch@users.noreply.github.com>

Julien Moura <1596222+Guts@users.noreply.github.com>
Julien Moura <1596222+Guts@users.noreply.github.com> <Guts@users.noreply.github.com>
Julien Moura <1596222+Guts@users.noreply.github.com> <julien.moura@oslandia.com>
Julien Moura <1596222+Guts@users.noreply.github.com> <dev@ingeoveritas.com>
Julien Moura <1596222+Guts@users.noreply.github.com> <julien.moura+vmgdlyon@oslandia.com>

Nicolas Godet <39594821+nicogodet@users.noreply.github.com>
Nicolas Godet <39594821+nicogodet@users.noreply.github.com> <nicolas.godet@outlook.fr>
